.controller.custom{
    background: url(http://mrmcpowned.com/gamepad/xbox-assets/base-white.svgz);
    height: 630px;
    width: 750px;
    margin-left: -375px;
    margin-top: -285px;
}
.custom.white{
    background: url(http://mrmcpowned.com/gamepad/xbox-assets/base-white.svgz);
}
.custom.disconnected {
    background: url(images/disconnected.png);
}
.custom.disconnected div {
    display: none;
}
